<div>
    <panel loader="bar">
        <div class="table-responsive">
            <table id="employees"
                ref="table"
                class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Title</th>
                        <th>Department</th>
                        <th>Rate</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </panel>
</div>
